div {
    display: flex;
    height: 50vh;
    flex-direction:row;
    width: 50vw;
    box-sizing: border-box;
    align-items: center ;
    align-content:space-around;

    padding: 30px;
    text-align: center;

}

p {
    font-size: 30px;
}