div {
    align-items: center ;
    text-align: center;

}

p {
    font-size: 30px;
    font-weight: 900;
    color: #f1f1f1;
}

.centro {
    display: flex;
    background-color: rgba(218, 218, 218, 0.281);
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    
}